@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Racing Sans One', cursive;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/**/
.name-wrapper {
    width: 100%;
    height: 8vh;

    display: flex;
    justify-content: center;
}
.name {
    font-size: 25px;
    text-transform: uppercase;
    padding: 2vh;
}
/**/
.main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}
/**/
.form-wrapper {
    display: flex;
    width: 640px;
    justify-content: space-around;
    align-items: center;
    height: 3rem;
}
.my-form input {
    height: 20px;
}
.my-form button {
    height: 30px;
    width: 40px;
    text-transform: uppercase;
    background-color: yellow;
}
.my-form button:hover {
    background-color: rgb(186, 186, 4);
}
.my-color {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/**/
.paint-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.paint-main {
    width: 640px;
    border: 5px red solid;
    display: grid;
    grid-template-columns: repeat(64, 10px);
    grid-template-rows: repeat(64, 10px);
}
.grid-elem:hover {
    background-color: black;
}
.grid-elem {
    user-select: none;

    border: 1px solid rgba(0, 0, 0, 0.05);
}

.buttonsWrapper {
    width: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reset {
    height: 40px;
    width: 70px;
    font-size: 20px;
    color: aliceblue;
    text-transform: uppercase;
    margin: 10px auto 25px auto;
    background-color: rgb(0, 177, 147);
}
.reset:hover {
    background-color: rgb(1, 143, 120);
}
.back {
    height: 40px;
    width: 70px;
    font-size: 20px;
    color: black;
    text-transform: uppercase;
    margin: 10px auto 25px auto;
    background-color: rgb(188, 255, 81);
}
.back:hover {
    background-color: rgb(155, 210, 67);
}
.forward {
    height: 40px;
    width: 70px;
    font-size: 20px;
    color: black;
    text-transform: uppercase;
    margin: 10px auto 25px auto;
    background-color: rgb(188, 255, 81);
}
.forward:hover {
    background-color: rgb(155, 210, 67);
}
.recentColor {
    height: 40px;
    width: 70px;
    font-size: 20px;
    color: black;
    text-transform: uppercase;
    margin: 10px auto 25px auto;
}
.recentColor:hover {
    opacity: 0.5;
}
